@import './utilities.scss';

$animationLength: 0.5s;

.account-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 10px;
        margin: 2rem;
        font-size: 4vw;
        padding: 1rem;
        width: 80vw;
        transition: all $animationLength;
        cursor: pointer;
        @include black-shadow;

        @media screen and (min-width: 1025px) {
            width: 23rem;
            font-size: 1.25rem;
        }

        &:hover {
            transform: scale(1.1);
        }

        &__details-icon {
            position: absolute;
            top:50%;
            left: 50%;
            width: 2.5rem;
            height: 2.5rem;
            color:white;
            opacity: 0;
            transition: all $animationLength;

            .account-list__card:hover & {
                opacity: 0.9;
                transform: scale(1.1);
            }
        }

        &__top {
            display: flex;
            align-items: center;

            &__avatar {
                border-radius: 100px;
                border: 2px solid white;
                width: 20vw;
                height: 20vw;
                margin-bottom: 1rem;
                @include black-shadow;

                @media screen and (min-width: 1025px) {
                    width: 6rem;
                    height: 6rem;
                }
            }

            &__info {
                margin: 0 auto;
                font-size: 6vw;
                text-decoration: underline;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;


                @media screen and (min-width: 1025px) {
                    width: 15rem;
                    font-size: 2rem;
                }
            }
        }


        &__info {
            display: flex;
            margin: 0.25rem 0;
            justify-content: space-between;
            text-align: right;
        }
    }
}