@import './colors.scss';

.header-with-pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    height: 10vh;
    width: 100vw;
    border-bottom: 5px double $darkgrey;
    background: black;
    position: fixed;
    top: 0;

    @media screen and (min-width: 1025px) {
        height: 6vh;
        position: static;
        justify-content: space-around;
        width: 100%;
    }

    &__pager {
        cursor: pointer;
        user-select: none;
    }
}