@import './colors.scss';

.header-with-pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    height: 6vh;
    border-bottom: 5px double $darkgrey;
    background: black;

    &__pager {
        cursor: pointer;
        user-select: none;
    }
}