@import './utilities.scss';

$cardheight: 60vh;

.profile {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__card {
        z-index: 2;
        width: 60vw;
        height: $cardheight;
        background: $lightgrey;
        border-radius: 5px;
        padding: 0;
        min-height: 500px;
        min-width: 960px;
        display: flex;
        @include black-shadow;

        &__column {
            display: flex;
            flex-direction: row;
            padding: 1rem;
            flex-direction: column;
            align-items: center;

            &--narrow {
                width: 15vw;
                display: flex;
                border-right: 1px solid white;
            }

            &--wide {
                font-size: 2rem;
                width: 50%;
                padding-top: 0;
                overflow-y: auto;
                overflow-x: hidden;
                align-items: flex-start;
            }

            &:last-of-type {
                border-left: 1px solid white;
            }
        }

        &__image {
            width: 10rem;
            height: 10rem;
            border-radius: 100px;
            border: 2px solid white;
            @include black-shadow;
        }

        &__name {
            font-size: 2rem;
            margin: 2rem 0;
            font-weight: bold;
            text-align: center;
        }

        &__info {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid white;
            margin: 1rem;
            padding: 1rem;
            width: 90%;

            &--smaller-no-underline {
                border-bottom: none;
                font-size: 1.5rem;
            }

            &--sub {
                text-decoration: none;

            }
        }
    }
}