@font-face {
    font-family: 'roboto';
    src: url('https://scmedia.itsfogo.com/$-$/704834eac29e44b1a40f4784b982534c.ttf') format('truetype');
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: roboto;
    margin: 0;
}
