.spinner {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, 0.6);
    user-select: none;
    z-index: 100;

    &__animated-svg {
        width: 5rem;
        height: 5rem;
        user-select: none;
    }
}